{% extends "index.html" %}


{% block angular_js %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">menu</div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        About BirdStorm - browser based, MMO game in space
                    </h1>
                </div>
                <div class="panel-body">
                    <p>
                        You start as a pilot of a small ship, but if you are clever enough you can quickly impact result of inter-galactic war.
                    </p>

                    <h2>Spaceships</h2>
                    <p>
                        Your ship can be upgraded, customized and enhanced to meet your own requirements. But be aware, it can be also damaged, broken or even destroyed.
                    </p>
                    <h3>Spaceship types:</h3>
                    <h4>Raven</h4>
                    <p>
                        Basic, but quite solid and very flexible ship. Affordable price and availability of spare parts and upgrades make
                        it one of most popular vehicle in this part of the galaxy.
                    </p>
                    <p>
                        It's not fancy, but if you are not the type who cares you won't be disappointed!
                    </p>
                    <h4>Woodpecker</h4>
                    <p>
                        Who said that every ship has to be a fighter? Some people prefer to build than destroy and for
                        building we need a lot of raw materials.
                    </p>
                    <h4>Owl</h4>
                    <h2>Planets</h2>
                </div>
                <div class="panel-footer">
                    test
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}