{% extends "index.html" %}


{% block title %}Best multiplayer roleplaying online space game{% endblock %}

{% block meta_keywords %}multiplayerm, roleplaying, space game, online{% endblock %}

{% block angular_js %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">menu</div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        About BirdStorm - browser based, MMO game in space
                    </h1>
                </div>
                <div class="panel-body">
                    <p>
                        Whole gameplay is placed in a single universe. It consists from multiple sectors, star systems and planets.
                        Each planet can either contain some buildings or some raw materials that can be extracted.
                    </p>
                    <p>
                        You start as a pilot of a small ship, but if you are clever enough you can quickly impact result of intergalactic war.
                    </p>

                    <h2>Spaceships</h2>
                    <p>
                        Your ship can be upgraded, customized and enhanced to meet your own requirements. But be aware, it can be also damaged, broken or even destroyed.
                    </p>
                    <h3>Spaceship types:</h3>
                    <h4>Raven</h4>
                    <p>
                        Basic, but quite solid and very flexible ship. Affordable price and availability of spare parts and upgrades make
                        it one of most popular vehicle in this part of the galaxy.
                    </p>
                    <p>
                        It's not fancy, but if you are not the type who cares you won't be disappointed!
                    </p>
                    <h4>Woodpecker</h4>
                    <p>
                        Who said that every ship has to be a fighter? This ship will allow you to dig deeper and find more valuable resources.
                    </p>
                    <h4>Owl</h4>
                    <p>
                        If you prefer finesse of sneaking instead of rough fire-power then this ship seems like a best choice.
                        Allows you to get unnoticed in places where other cannot.
                    </p>
                    <h4>Pelican</h4>
                    <p>
                        Logistic impacted results of many wars. During the intergalactic conflict is more important than ever before.
                        This bird will allow you to transport much more resources than any other.
                    </p>
                    <h2>Planets</h2>

                    <img class="media-object pull-right" src="/static/images/map/planets/TerrestrialPlanet.png" alt="Terrestrial Planet">
                    <h4>Terrestrial Planet</h4>
                    <p>
                        Very common planet composed mostly of silicate rocks or metals.
                        Can be scanned and drilled using standard components. Usually contains easily extractable basic resources like Coal or Iron.
                    </p>

                    <img class="media-object pull-right" src="/static/images/map/planets/WaterPlanet.png" alt="Water Planet">
                    <h4>Water Planet</h4>
                    <p>
                        Most of this planets contain primitive live forms. After eons of space exploration is hard to say if that are local forms or if they were brought by First Colonists.
                        What is important is that any live can sooner or later become a precious source of Oil and Coal.
                    </p>

                    <img class="media-object pull-right" src="/static/images/map/planets/RedPlanet.png" alt="Red Planet">
                    <h4>Red Planet</h4>
                    <p>
                        Covered by sand and dust, extremely dry and even more unfriendly. A good place for placing basic constructions.
                    </p>

                    <img class="media-object pull-right" src="/static/images/map/planets/GasGiant.png" alt="Gas Giant">
                    <h4>Gaseous Planet</h4>
                    <p>
                        Consists mostly of hydrogen and helium. Some heavier elements may occur as well, but they are extremely hard to extract.
                        Core of the planet is surrounded by metallic hydrogen which makes this place perfect for performing sophisticated experiments and producing rare materials.
                    </p>

                    <img class="media-object pull-right" src="/static/images/map/planets/IcePlanet.png" alt="Ice Giant">
                    <h4>Ice Planet</h4>
                    <p>
                        Extremely cool, what else did you expect?
                    </p>
                </div>
                <div class="panel-footer">
                    test
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}