<div>
<div ng-switch="building.type">
<p ng-switch-when="Factory">
    Factory
</p>
<p ng-switch-when="Smelter">
    Industrial plant that allows to change raw materials into metals.
</p>
<p ng-switch-when="Refinery">
    Industrial plant that allows to change raw materials into metals.
</p>
</div>
<hr />
<table class="table table-hover">
    <thead>
    <tr>
        <th>Resource</th>
        <th>Qty</th>
        <th>Requirements</th>
        <th>ETA</th>
        <th>Order</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(resource, details) in building.processes">
        <td>{{resource}}</td>
        <td><input class="form-control input-sm" style="width: 50px" type="text" ng-model="quantities[resource]"/></td>
        <td>
            <ul class="list-unstyled">
                <li
                        ng-repeat="(requirement, quantity) in details.requirements"
                        ng-class="{true:'text-success', false:'text-danger'}[currentShip.resources[requirement] >= quantity * quantities[resource]]"
                        >
                    {{requirement}}: {{quantity * quantities[resource]}}
                </li>
            </ul>
        </td>
        <td>{{details.time * quantities[resource]}}s</td>
        <td>
            <button ng-hide="currentShip.locked" class="btn btn-default btn-sm" ng-click="order(building.id, resource, quantities[resource])">Order</button>
        </td>
    </tr>
    </tbody>
</table>
</div>
