<div ng-switch="planet.is_drilled">
    <div ng-switch-when="true">
        Planet is already drilled. You have to wait some time, before you can extract resources
        again.
    </div>
    <div ng-switch-default>
            <span class="pull-right">
                    <a
                            href
                            ng-click="scan(planet.id)"
                            ng-hide="currentShip.locked">
                        Scan
                    </a>
                </span>
        <div ng-hide="planet.scan_results.length">
            You have to scan the planet to see available resources.
        </div>

        <div ng-repeat="level_resources in planet.scan_results track by $index">
            Level {{$index}}
            <ul>
                <li ng-repeat="(type, quantity) in level_resources">
                    {{type}}: {{quantity}}
                            <span ng-hide="currentShip.locked">
                                -
                                <a
                                        href
                                        class="extract-resources"
                                        ng-click="extract(planet.id, $parent.$index, type)">
                                    Extract
                                </a>
                            </span>
                    <!--
                    <timer>
                    <div class="progress" style="width: 100px" ng-init="t=15">
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{ 100 * millis/(t*1000) | number:0}}%;">
                        </div>
                    </div>
                    -->
                    </timer>
                </li>
            </ul>
            <hr/>
        </div>
    </div>
</div>
