<h4>Available ships</h4>
Shipyard allows you to build new or repair already owned ships.<br />
Once you get some advanced schematics you will be also able to upgrade your ships.
<table class="table table-hover">
    <thead>
    <tr>
        <th>Ship</th>
        <th>Resources</th>
        <th>ETA</th>
        <th>Order</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(ship, details) in building.processes">
        <td>{{ship}}</td>
        <td>
            <ul class="list-unstyled">
                <li
                        ng-repeat="(requirement, quantity) in details.requirements"
                        ng-class="{true:'text-success', false:'text-danger'}[currentShip.resources[requirement] >= quantity]"
                        >
                    {{requirement}}: {{quantity}}
                </li>
            </ul>
        </td>
        <td>{{details.time}}s</td>
        <td><button class="btn btn-default btn-sm" ng-click="order(building.id, ship, 1)">Order</button></td>
    </tr>
    </tbody>
</table>