<div class="panel side-panel" style="margin-left: auto">
    <h2 class="tile-title">User: {{accountData.username}}</h2>
    <div class="panel-body">
        Credits: {{accountData.credits}}
    </div>
    <div class="pull-right">
        Map ({{ (map.scale * 100)|number:0 }}%)
        <a href="#" ng-click="map.zoomIn()">
            <span class="fa fa-search-plus fa-fw"></span>

        </a>
        <a href="#" ng-click="map.zoomOut()">
            <span class="fa fa-search-minus fa-fw"></span>
        </a>
        <a href="#" ng-click="map.reset()">
            <span class="fa fa-refresh fa-fw"></span>
        </a>
    </div>
    <br class="clearfix" />
</div>

<div class="panel side-panel" style="margin-left: auto">
    <h2 class="tile-title">
        <span class="dropdown" is-open="ship_menu_expanded">
            <a href class="dropdown-toggle">
                {{currentShip.type}} Mk 1<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="ship in ships">
                    <a href ng-click="changeShip(ship)">{{ship.type}} Mk 1</a>
                </li>
            </ul>
        </span>
        <span class="pull-right">
            ID: {{ currentShip.id }}
        </span>
    </h2>
    <div class="panel-body">
        <ul class="list-unstyled">
            <li>
                <strong>Action:</strong> None
            </li>
            <li ng-repeat="(component, details) in currentShip.components">
                <b>{{details.type}} Mk {{details.mark}}</b>
                <ul class="list-unstyled list-sublist">
                    <li ng-repeat="(name, value) in details" ng-if="name != 'type' && name != 'mark'">{{name}}: {{ value | number}}</li>
                </ul>
            </li>
            <li>
                <b>Cargo:</b>
                <ul class="list-unstyled list-sublist">
                    <li ng-repeat="(type, quantity) in currentShip.resources">
                        {{type}}: {{quantity}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
