<div class="panel pull-right">
    <h2 class="tile-title">Control panel</h2>
    <div class="panel-body">
        Credits: {{accountData.credits}}
        <hr />
        <br />
        Ship:
        <span class="dropdown" is-open="controlPanel.ship_menu_expanded">
            <a href class="dropdown-toggle">
                {{controlPanel.currentShip.type}} Mk 1<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="ship in controlPanel.ships">
                    <a href ng-click="changeShip(ship)">{{ship.type}} Mk 1</a>
                </li>
            </ul>
        </span>
        <br />
        <br />
        <ul class="list-unstyled">
            <li><b>ID:</b> {{ controlPanel.currentShipDetails.id }}</li>
            <li ng-repeat="(component, details) in controlPanel.currentShipDetails.components">
                <b>{{details.type}} Mk {{details.mark}}</b>
                <ul class="list-unstyled list-sublist">
                    <li ng-repeat="(name, value) in details" ng-if="name != 'type' && name != 'mark'">{{name}}: {{ value | number}}</li>
                </ul>
            </li>
            <li>
                <b>Cargo:</b>
                <ul class="list-unstyled list-sublist">
                    <li ng-repeat="(type, quantity) in controlPanel.currentShipDetails.resources">
                        {{type}}: {{quantity}}
                    </li>
                </ul>
            </li>
        </ul>
        <div class="pull-right">
            Map ({{ (map.scale * 100)|number:0 }}%)
            <a href="#" ng-click="map.zoomIn()">
                <span class="fa fa-search-plus fa-fw"></span>

            </a>
            <a href="#" ng-click="map.zoomOut()">
                <span class="fa fa-search-minus fa-fw"></span>
            </a>
            <a href="#" ng-click="map.reset()">
                <span class="fa fa-refresh fa-fw"></span>
            </a>
        </div>
    </div>
</div>
