<div class="panel panel-default">
    <div class="panel-heading">
        Control panel
        <a href="#" class="panel-minimize pull-right" title="Close">
            <span class="fa fa-minus fa-fw "></span>
        </a>
    </div>
    <div class="panel-body">
        Credits: {{accountData.credits}}
        <hr />
        Ship:
        <span class="dropdown" is-open="controlPanel.ship_menu_expanded">
            <a href class="dropdown-toggle">
                {{controlPanel.currentShip.type}}<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="ship in controlPanel.ships">
                    <a href ng-click="changeShip(ship)">{{ship.type}}</a>
                </li>
            </ul>
        </span>
        <br />
        <br />
        <ul class="list-unstyled">
            <li>
                <b>Ship:</b> Warrior
                <a href="#" class="pull-right">
                    <span class="fa fa-pencil fa-fw"></span>
                </a>
            </li>
            <li><b>Locked:</b> {{ controlPanel.currentShipDetails.locked }}</li>
            <li><b>Type:</b> {{ controlPanel.currentShipDetails.type }}</li>
            <li><b>Class:</b> 1</li>
            <li><b>ID:</b> {{ controlPanel.currentShipDetails.id }}</li>
            <li>
                <b>Engine:</b>
                <ul class="list-unstyled list-sublist">
                    <li>Type: {{ controlPanel.currentShipDetails.engine.type }}</li>
                    <li>Output: {{ controlPanel.currentShipDetails.engine.output }}</li>
                    <li>Speed: {{ controlPanel.currentShipDetails.speed }}</li>
                    <li>Range: {{ controlPanel.currentShipDetails.engine.range }}</li>
                </ul>
            </li>
            <li>
                <b>Drill:</b>
                <ul class="list-unstyled list-sublist">
                    <li>Type: {{ controlPanel.currentShipDetails.drill.type }}</li>
                    <li>Deepness: {{ controlPanel.currentShipDetails.drill.deepness }}</li>
                    <li>Speed: {{ controlPanel.currentShipDetails.drill.speed }}</li>
                </ul>
            </li>
            <li>
                <b>Scanner:</b>
                <ul class="list-unstyled list-sublist">
                    <li>Type: {{ controlPanel.currentShipDetails.scanner.type }}</li>
                    <li>Deepness: {{ controlPanel.currentShipDetails.scanner.deepness }}</li>
                </ul>
            </li>
            <li>
                <b>Cargo:</b>
                <ul class="list-unstyled list-sublist">
                    <li ng-repeat="(type, quantity) in controlPanel.currentShipDetails.resources">
                        {{type}}: {{quantity}}
                    </li>
                </ul>
            </li>
        </ul>
        <div class="pull-right">
            Map ({{ (map.scale * 100)|number:0 }}%)
            <a href="#" ng-click="map.zoomIn()">
                <span class="fa fa-search-plus fa-fw"></span>

            </a>
            <a href="#" ng-click="map.zoomOut()">
                <span class="fa fa-search-minus fa-fw"></span>
            </a>
            <a href="#" ng-click="map.reset()">
                <span class="fa fa-refresh fa-fw"></span>
            </a>
        </div>
    </div>
</div>
