<div>
    <p>Select a tab by setting active binding to true:</p>
    <p>
        <button class="btn btn-default btn-sm" ng-click="tabs[0].active = true">Select second tab</button>
        <button class="btn btn-default btn-sm" ng-click="tabs[1].active = true">Select third tab</button>
    </p>
    <p>
        <button class="btn btn-default btn-sm" ng-click="tabs[1].disabled = ! tabs[1].disabled">Enable / Disable third tab</button>
    </p>
    <hr />

    <tabset>
        <tab heading="Static title">Static content</tab>
        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
            {{tab.content}}
        </tab>
        <tab select="alertMe()">
            <tab-heading>
                <i class="glyphicon glyphicon-bell"></i> Alert!
            </tab-heading>
            I've got an HTML heading, and a select callback. Pretty cool!
        </tab>
    </tabset>

    <hr />

    <tabset vertical="true" type="pills">
        <tab heading="Vertical 1">Vertical content 1</tab>
        <tab heading="Vertical 2">Vertical content 2</tab>
    </tabset>

    <hr />

    <tabset justified="true">
        <tab heading="Justified">Justified content</tab>
        <tab heading="SJ">Short Labeled Justified content</tab>
        <tab heading="Long Justified">Long Labeled Justified content</tab>
    </tabset>
</div>



<div class="panel panel-default">
    <div class="panel-heading">
        System/Planet View
        <a href="#" class="panel-close pull-right" title="Close">
            <span class="fa fa-times fa-fw "></span>
        </a>
    </div>
    <div class="panel-body">
        <div ng-switch="detailsPanel.choice">

            <!-- Planet -->
            <div ng-switch-when="planet">
                <ul class="list-unstyled">
                    <li><b>Type:</b> {{ detailsPanel.data.type }}</li>
                    <li><b>ID:</b> {{ detailsPanel.data.id }}</li>
                </ul>
                <div ng-repeat="level_resources in detailsPanel.data.scan_results track by $index">
                    <hr/>
                    Level {{$index}}
                    <span class="pull-right">
                        <a
                                href
                                ng-click="scan(detailsPanel.data.id, $index)"
                                ng-hide="controlPanel.currentShipDetails.locked">
                            Scan
                        </a>
                    </span>
                    <ul>
                        <li ng-repeat="(type, quantity) in level_resources">
                            {{type}}: {{quantity}}
                            <span ng-hide="controlPanel.currentShipDetails.locked">
                                -
                                <a
                                        href
                                        ng-click="extract(detailsPanel.data.id, $parent.$index, type)">
                                    Extract
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
                <hr/>
                <span class="pull-right">
                    <a
                            href
                            ng-click="scan(detailsPanel.data.id, -1)"
                            ng-hide="controlPanel.currentShipDetails.locked">
                        Scan
                    </a>
                </span>
                <ul class="list-unstyled">
                    <li ng-repeat="message in detailsPanel.scan_messages track by $index"
                        ng-class="{info:'info', error:'error', success:'success'}[message.type]">
                        {{ message.text }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
