<div ng-switch="detailsPanel.choice">
    <!-- Planet -->
    <div ng-switch-when="planet">
    <div class="panel panel-default" id="context_menu">
        <div class="panel-body">
            <tabset>
                <tab heading="Planet" active="detailsPanel.tabs[0]">
                        <ul class="list-unstyled">
                            <li><b>Type:</b> {{ detailsPanel.data.type }}</li>
                            <li><b>ID:</b> {{ detailsPanel.data.id }}</li>
                        </ul>
                        Planet description
                        Planet description
                        Planet description
                        Planet description
                        Planet description
                        Planet description
                        Planet description
                        Planet description
                        Planet description
                        Planet description
                        Planet description
                        Planet description
                        <hr />
                        Rich in various resources.<br />
                        May contain some rare earth elements.<br />
                        No solid structures are built on this planet.<br />
                        Buildings: Building1, Building2, ...
                </tab>
                <tab heading="Resources" active="detailsPanel.tabs[1]" ng-hide="detailsPanel.data.buildings">
                    <div ng-switch="detailsPanel.data.is_drilled">
                        <div ng-switch-when="true">
                            Planet is already drilled. You have to wait some time, before you can extract resources
                            again.
                        </div>
                        <div ng-switch-default>
                                            <span class="pull-right">
                    <a
                            href
                            ng-click="scan(detailsPanel.data.id, -1)"
                            ng-hide="controlPanel.currentShipDetails.locked">
                        Scan
                    </a>
                </span>
                            <div ng-hide="detailsPanel.data.scan_results.length">
                                You have to scan the planet to see available resources.
                            </div>

                            <div ng-repeat="level_resources in detailsPanel.data.scan_results track by $index">
                            Level {{$index}}
                            <!--
                    <span class="pull-right">
                        <a
                                href
                                ng-click="scan(detailsPanel.data.id, $index)"
                                ng-hide="controlPanel.currentShipDetails.locked">
                            Scan
                        </a>
                    </span>
                    -->
                            <ul>
                                <li ng-repeat="(type, quantity) in level_resources">
                                    {{type}}: {{quantity}}
                            <span ng-hide="controlPanel.currentShipDetails.locked">
                                -
                                <a
                                        href
                                        ng-click="extract(detailsPanel.data.id, $parent.$index, type)">
                                    Extract
                                </a>
                            </span>
                                </li>
                            </ul>
                            <hr/>
                        </div>
                        </div>
                    </div>
                </tab>
                <tab
                        ng-repeat="building in detailsPanel.data.buildings track by $index"
                        heading="{{building.type}}"
                        active="detailsPanel.tabs[2+$index]"
                        select="changeBuilding(building)">
                    <div ng-switch="building.type">
                        <!-- Port -->
                        <div ng-switch-when="Port">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Resource</th>
                                    <!--<th>Planet</th>-->
                                    <th>Ship</th>
                                    <th>Qty</th>
                                    <!--<th>Buy</th>-->
                                    <th>Sell</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(type, price) in building.prices track by $index">
                                    <td>{{type}}</td>
                                    <!--<td ng-click="detailsPanel.quantities[$index]=price.available"><a href="#">{{price.available}}</a></td>-->
                                    <td ng-click="detailsPanel.quantities[$index]=controlPanel.currentShipDetails.resources[type] || 0">
                                        <a href="#">{{controlPanel.currentShipDetails.resources[type] || 0}}</a>
                                    </td>
                                    <!--TODO consider adding a popover with suggested quantities to sale and buy)-->
                                    <td><input class="input-sm" style="width: 50px" type="text" ng-model="detailsPanel.quantities[$index]"/></td>
                                    <!-- TODO
                                    <td>
                                        <button class="btn btn-default btn-sm" ng-click="buy(building.id, type, $index)">
                                            Buy ({{price.sale_price * detailsPanel.quantities[$index]}}c)
                                        </button>
                                    </td>
                                    -->
                                    <td>
                                        <button class="btn btn-default btn-sm" ng-click="sell(building.id, type, $index)">
                                            Sell ({{price.purchase_price * detailsPanel.quantities[$index]}}c)
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-switch-when="Shipyard">
                            <!--<h4>Available ships</h4>-->
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Ship</th>
                                    <th>Resources</th>
                                    <th>ETA</th>
                                    <th>Order</th>
                                </tr>
                                </thead>
                                <tbody ng-init="ship_resources=controlPanel.currentShipDetails.resources">
                                <tr ng-repeat="(ship, details) in building.available_ships">
                                    <td>{{ship}}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            <li
                                                    ng-repeat="(resource, quantity) in details.resources"
                                                    ng-class="{true:'text-success', false:'text-danger'}[ship_resources[resource] > quantity]"
                                                    >
                                                {{resource}}: {{quantity}}
                                            </li>
                                        </ul>
                                    </td>
                                    <td>{{details.time}}s</td>
                                    <td><button class="btn btn-default btn-sm" ng-click="order(building.id, ship)">Order</button></td>
                                </tr>
                                </tbody>
                            </table>
                            <!--
                            <h4>Queue</h4>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Ship</th>
                                    <th>Contractor</th>
                                    <th>ETA</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Raven</td>
                                    <td>test</td>
                                    <td>5:30</td>
                                </tr>
                                <tr>
                                    <td>Owl</td>
                                    <td>test</td>
                                    <td>15:23</td>
                                </tr>
                                </tbody>
                            </table>
                            -->
                        </div>
                        <div ng-switch-when="Warehouse">
                            <br />
                            Warehouse allows you to store your resources.
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Resource</th>
                                    <th>Warehouse</th>
                                    <th>Ship</th>
                                    <th>Quantity</th>
                                    <th>Load</th>
                                    <th>Unload</th>
                                </tr>
                                </thead>
                                <tbody ng-init="resources=warehouseResources(building)"> <!-- TODO -->
                                <tr ng-repeat="(resource, details) in resources track by $index">
                                    <td>{{resource}}</td>
                                    <td ng-click="detailsPanel.warehouse_quantities[$index]=details.warehouse">
                                        <a href="#">{{details.warehouse}}</a>
                                    </td>
                                    <td ng-click="detailsPanel.warehouse_quantities[$index]=details.ship">
                                        <a href="#">{{details.ship}}</a>
                                    </td>
                                    <td><input class="input-sm" style="width: 50px" type="text" ng-model="detailsPanel.warehouse_quantities[$index]"/></td>
                                    <td><button class="btn btn-default btn-sm" ng-click="load(building.id, resource)">Load</button></td>
                                    <td><button class="btn btn-default btn-sm" ng-click="unload(building.id, resource)">Unload</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-switch-when="Factory">
                            Factory
                        </div>
                        <div ng-switch-when="Workshop">
                            <br />
                            Upgrades:
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Component</th>
                                    <th>Requirements</th>
                                    <th>ETA</th>
                                    <th>Parameters</th>
                                    <th>Order</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(component, details) in building.processes">
                                    <td>{{component}}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            <li
                                                    ng-repeat="(requirement, quantity) in details.requirements"
                                                    ng-class="{true:'text-success', false:'text-danger'}[controlPanel.currentShipDetails.resources[requirement] >= quantity]"
                                                    >
                                                {{requirement}}: {{quantity}}
                                            </li>
                                        </ul>
                                    </td>
                                    <td>{{details.time}}s</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            <li ng-repeat="(parameter, value) in details.parameters">
                                                {{parameter}}: {{value}}
                                            </li>
                                        </ul>
                                    </td>
                                    <td><button class="btn btn-default btn-sm" ng-click="order(building.id, component, 1)">Order</button></td>
                                </tr>
                                </tbody>
                            </table>
                            <hr />
                            Current ship components:
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Component</th>
                                    <th>Parameters</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(component, details) in controlPanel.currentShipDetails.components">
                                    <td>{{component}}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            <li ng-repeat="(parameter, value) in details.parameters">
                                                {{parameter}}: {{value}}
                                            </li>
                                        </ul>
                                    </td>
                                    <td><button class="btn btn-default btn-sm" ng-click="detach(building.id, component)">Detach</button></td>
                                </tr>
                                </tbody>
                            </table>
                            <hr />
                            Components in cargo:
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Component</th>
                                    <th>Requirements</th>
                                    <th>ETA</th>
                                    <th>Parameters</th>
                                    <th>Order</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(resource, details) in building.processes" ng-init="details.quantity=1">
                                    <td>{{resource}}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            <li
                                                    ng-repeat="(requirement, quantity) in details.requirements"
                                                    ng-class="{true:'text-success', false:'text-danger'}[controlPanel.currentShipDetails.resources[requirement] >= quantity]"
                                                    >
                                                {{requirement}}: {{quantity}}
                                            </li>
                                        </ul>
                                    </td>
                                    <td>{{details.time}}s</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            <li ng-repeat="(parameter, value) in details.parameters">
                                                {{parameter}}: {{value}}
                                            </li>
                                        </ul>
                                    </td>
                                    <td><button class="btn btn-default btn-sm" ng-click="order(building.id, resource, details.quantity || 1)">Order</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-switch-when="Smelter">
                            Industrial plant that allows to change raw materials into metals.
                            <hr />
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Resource</th>
                                    <th>Requirements</th>
                                    <th>ETA</th>
                                    <th>Order</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(resource, details) in building.processes" ng-init="details.quantity=1">
                                    <td>{{resource}}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            <li
                                                    ng-repeat="(requirement, quantity) in details.requirements"
                                                    ng-class="{true:'text-success', false:'text-danger'}[controlPanel.currentShipDetails.resources[requirement] >= quantity * (details.quantity || 1)]"
                                                    >
                                                {{requirement}}: {{quantity * (details.quantity || 1)}}
                                            </li>
                                        </ul>
                                    </td>
                                    <td>{{details.time * (details.quantity || 1)}}s</td>
                                    <td><input class="input-sm" style="width: 50px" type="text" ng-model="details.quantity"/></td>
                                    <td><button class="btn btn-default btn-sm" ng-click="order(building.id, resource, details.quantity || 1)">Order</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </tab>
            </tabset>
            <hr />
            <ul class="list-unstyled">
                <li ng-repeat="message in detailsPanel.scan_messages track by $index"
                    ng-class="{info:'text-muted', error:'text-danger', success:'text-success'}[message.type]">
                    {{ message.text }}
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
