<div class="panel side-panel" id="context_menu">
    <h2 class="tile-title">Active Tasks</h2>
    <div class="panel-body">
        <ul class="list-unstyled">
            <li ng-class="{active:currentTaskIndex === $index}" ng-repeat="task in tasks track by $index">
                <a href ng-click="setCurrentTask($index)">
                    {{task.story}}
                    <span ng-if="isUpdated(task.id)">*</span>
                </a>
            </li>
        </ul>
        <hr />
        <div>
            <br />
            <strong>{{currentTask.type}}</strong>
            <div>
                {{currentTask.story_description}}
                <br />
                {{currentTask.description}}
                {{currentTask.state}}
            </div>
        </div>
    </div>
</div>
