{% extends "index.html" %}

{% block top %}
    <div class="broadcast-connection">sector.main</div>
    <svg style="position:absolute;"/>
{%  endblock %}

{% block content %}
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Control panel
                <a href="#" class="panel-minimize pull-right" title="Close">
                    <span class="fa fa-minus fa-fw "></span>
                </a>
            </div>
            <div class="panel-body">
                {% include "core/include/own_ship.html" %}
            </div>
        </div>
        {% include "chat/include/communicator.html" %}
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                System/Planet View
                <a href="#" class="panel-close pull-right" title="Close">
                    <span class="fa fa-times fa-fw "></span>
                </a>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default" id="context_menu">
            <div class="panel-heading">
                Context menu
                <a href="#" class="panel-close pull-right" title="Close">
                    <span class="fa fa-times fa-fw"></span>
                </a>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
{% endblock %}