{% extends "basic_base.html" %}

{% block body_content %}
{% verbatim %}
<br />

<div ng-controller="ContextPanelController as contextPanel">
    <div ng-controller="ControlPanelController as controlPanel">
        <div ng-controller="DetailsPanelController as detailsPanel">
            <div ng-controller="MapController as map">

                <core-map context-panel-switch="contextPanel.switch" map="map"></core-map>

                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <core-control-panel map="map" control-panel="controlPanel" account-data="account.data"></core-control-panel>
                            <chat></chat>
                        </div>
                        <div class="col-md-6">
                            <core-details-panel details-panel="detailsPanel" control-panel="controlPanel"></core-details-panel>
                        </div>
                        <div class="col-md-3">
                            <core-context-panel context-panel="contextPanel" control-panel="controlPanel" details-panel="detailsPanel"></core-context-panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock %}