<div class="broadcast-connection">chat.general_room</div>

<div class="chat">

    <!-- Chat Area -->
    <div class="media-body">
        <div class="chat-header">
            <a class="btn btn-sm" href="">
                <i class="fa fa-circle-o status m-r-5"></i> Chat
            </a>
        </div>

        <div class="chat-body" id="chat-panel">
            <div ng-repeat="message in chat.messages">
                {{ message.author }}: {{ message.text }}
            </div>
        </div>
        <form class="form-inline" role="form" method="post" action="">
            <div class="form-group">
                <input
                        type="text"
                        name="message"
                        placeholder="Enter message"
                        id="chat-text"
                        ng-model="chat.text" />
            </div>
            <button type="submit" class="pull-right" ng-click="chat.send()">Send</button>
        </form>
    </div>
</div>
