svg {
    width: 100%;
    height: 100%;
}

.system .system-image {
    opacity: 0.7;
}

.system:hover .system-image {
    opacity: 1;
}

.system-selected .system-image {
    opacity: 1;
}

.planet image {
    opacity: 0.5;
}

.planet image.selected  {
    opacity: 1;
}

.planet:hover image {
    opacity: 1;
}

.planet:hover image.selected  {
    opacity: 0.85;
}

.ship text {
    font: 12px sans-serif;
    fill: white;
    cursor: pointer;
}

.ship:hover text {
    font: 12px sans-serif;
    fill: blue;
}