svg {
    width: 100%;
    height: 100%;
}

.system:hover circle {
    font: 12px sans-serif;
    stroke: black;
}

.ship text {
    font: 12px sans-serif;
    fill: black;
    cursor: pointer;
}

.ship:hover text {
    font: 12px sans-serif;
    fill: blue;
}