body {
    padding-bottom: 20px;
    background: #000000;
}

body, a, input, .help-block {
    color: #fff;
    text-shadow: none;
}



.page-header {
    margin: 0;
    background: rgb(0,2,6);
    background: -moz-linear-gradient(-45deg,  rgba(0,2,6,1) 0%, rgba(0,55,105,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,2,6,1)), color-stop(100%,rgba(0,55,105,1)));
    background: -webkit-linear-gradient(-45deg,  rgba(0,2,6,1) 0%,rgba(0,55,105,1) 100%);
    background: -o-linear-gradient(-45deg,  rgba(0,2,6,1) 0%,rgba(0,55,105,1) 100%);
    background: -ms-linear-gradient(-45deg,  rgba(0,2,6,1) 0%,rgba(0,55,105,1) 100%);
    background: linear-gradient(135deg,  rgba(0,2,6,1) 0%,rgba(0,55,105,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000206', endColorstr='#003769',GradientType=1 );
    opacity: 0.8;
    border: 1px solid rgba(0,55,105,0.15);

    color: white;
    padding: 0;
}

.modal-content {
    background: rgb(0,2,6);
    background: -moz-linear-gradient(-45deg,  rgba(0,2,6,1) 0%, rgba(0,55,105,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,2,6,1)), color-stop(100%,rgba(0,55,105,1)));
    background: -webkit-linear-gradient(-45deg,  rgba(0,2,6,1) 0%,rgba(0,55,105,1) 100%);
    background: -o-linear-gradient(-45deg,  rgba(0,2,6,1) 0%,rgba(0,55,105,1) 100%);
    background: -ms-linear-gradient(-45deg,  rgba(0,2,6,1) 0%,rgba(0,55,105,1) 100%);
    background: linear-gradient(135deg,  rgba(0,2,6,1) 0%,rgba(0,55,105,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000206', endColorstr='#003769',GradientType=1 );
}

ul.nav-tabs li {
    background: rgba(0,55,105,1);
}

ul.nav-tabs li.active a {
    background: rgba(0,55,105,1);
}

.tab-content {
    border: 1px solid rgba(255,255,255,0.3);
}

ul.list-sublist {
    margin-left: 15px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

li.active, li.active a{
    font-weight: bold;
    color: #FFD600;
}

hr {
    border-color: rgba(255, 255, 255, 0.4);
}

a {
    cursor: pointer;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
}

a:hover, a:focus {
    color: #ffffff;
    opacity: 0.5;
    text-decoration: none;
}

.strong {
    font-weight: bold;
}

.panel {
    background: rgb(0,2,6);
    background: -moz-linear-gradient(-45deg,  rgba(0,2,6,1) 0%, rgba(0,95,171,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,2,6,1)), color-stop(100%,rgba(0,95,171,1)));
    background: -webkit-linear-gradient(-45deg,  rgba(0,2,6,1) 0%,rgba(0,95,171,1) 100%);
    background: -o-linear-gradient(-45deg,  rgba(0,2,6,1) 0%,rgba(0,95,171,1) 100%);
    background: -ms-linear-gradient(-45deg,  rgba(0,2,6,1) 0%,rgba(0,95,171,1) 100%);
    background: linear-gradient(135deg,  rgba(0,2,6,1) 0%,rgba(0,95,171,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000206', endColorstr='#005fab',GradientType=1 );
    opacity: 0.75;
    border: 1px solid rgba(0,55,105,0.25);
}

.panel-default .panel-heading {
    background-color: rgba(2, 0, 47, 0.2);
    color: white;
    border-bottom: 0;
}

.panel-footer {
    background-color: transparent;
    border-top: 0;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    text-transform: capitalize;
    float: none;
    padding: 0;
}

.modal-title {
    text-transform: none;
    font-size: 18px;
}

.modal-body {
    font-size: 14px;
}

.modal-footer .btn {
    font-size: 14px;
}

.btn-default  {
    background-color: rgba(0,95,171,0.25);
    border: 1px solid rgba(255,255,255,0.3);
    color: white;
}

.btn-default:hover {
    background-color: rgba(0,2,6,0.25);
    color: white;
}

.navbar-nav li {
    border-left: 1px solid rgba(255,255,255,0.1);
}

nav.navbar {
    margin-bottom: 0;
}

.table-hover tr:hover {
    background-color: transparent;
}

/* PYBBM */

.post-content {
}

.form-control {
    height: auto;
}

.category h1 {
    font-size: 30px;
}


input#id_name {
    color: #000;
}

.post-header {
    background-color: #484e55;
}
