body {
    padding-bottom: 20px;
    background: #000000;
}

.broadcast-connection {
    display: none;
}

ul.list-sublist {
    margin-left: 15px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

li.active, li.active a{
    font-weight: bold;
    color: #FFD600;
}

.side-panel {
    max-width: 250px;
}

hr {
    border-color: rgba(255, 255, 255, 0.4);
}

a {
    cursor: pointer;
}

.strong {
    font-weight: bold;
}

/* PYBBM */

.post-content {
}

.form-control {
    height: auto;
}

.category h1 {
    font-size: 30px;
}


/* template customisation */
.logo {
    padding-left: 0;
}

header {
    background-image: url("/static/images/background.png");
}

.panel {
    border: 1px solid rgba(255,255,255,0.15);
    /*background-color: rgba(255,255,255,0.15);*/
    background-image: url("/static/images/background.png");
}

.panel h2 {
    background-image: url("/static/images/background.png");
}

.chat-footer {
    height: 25px;
}

.chat-body {
    height: 302px;
}

#chat-text {
    width: 250px;
    color: black;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-color: transparent;
    background: rgba(0,0,0,1);
    color: #fff;
}

a {
    border-bottom: 1px dotted rgba(255,255,255,0.15);
}

a:hover, a:focus {
    color: #a7ffa2;
    text-decoration: none;
    border-bottom: 1px dotted rgba(167, 255, 162,0.15);
}

header {
    background-color: rgba(255,255,255,0.15);
}

body, a, input, .help-block {
    color: #fff;
    text-shadow: none;
}

.breadcrumb {
    float: none;
    padding: 0;
}

.modal-title {
    text-transform: none;
    font-size: 18px;
}

.modal-body {
    font-size: 14px;
}

.modal-footer .btn {
    font-size: 14px;
}