<ul class="list-unstyled">
    <li>
        <b>Ship:</b> Warrior
    </li>
    <li>
        <b>Owner:</b> <a href="{% url 'game.apps.account.views.other_user' id=ship.owner.id %}">{{ ship.owner }}</a>
    </li>
    <li><b>Type:</b> Raven</li>
    <li><b>Class:</b> 1</li>
    <li>
        <b>Components:</b>
        <ul class="list-unstyled list-sublist">
            <li>Firepower: 20</li>
            <li>Speed: 20</li>
            <li>Capacity: 20</li>
        </ul>
    </li>
</ul>