<ul class="list-unstyled">
    <li><b>Type:</b> {{ system.type }}</li>
    <li><b>Coordinates:</b> ({{ system.x }}; {{ system.y }})</li>
    <li>
        <b>Distance:</b>
        {{ distance|floatformat:2 }}
        <a href="{% url "game.apps.core.views.move_ship" system=system.id %}" class="ajax-link pull-right" title="Go">
            <span class="fa fa-plane fa-fw"></span>
        </a>
    </li>
    <li>
        <b>Planets:</b>
        <ul class="list-unstyled list-sublist">
            <li>Planet 1</li>
            <li>Planet 2</li>
            <li>Planet 3</li>
            <li>Planet 4</li>
        </ul>
    </li>
</ul>

<br />
