<div class="modal-header">
    <h1 class="modal-title">
        Welcome to BirdStorm.net!
    </h1>
</div>
<div class="modal-body">
    <p>
        Bird Storm is a newly created MMO browser based game.
    </p>
    <p>
        The project is in an early phase of development, so please make sure to leave some feedback on
        <a href="/forum" target="_blank">forum</a> before you finish playing and leave the site.
    </p>
    <p>
        No registration is required, just press "Start" button and have fun!
    </p>
</div>
<div class="modal-footer">
    <!--TODO don't reload the page-->
    <div ng-show="showLoginForm">
        <form class="navbar-form navbar-right" name="login_form" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_tonen }}" />

            <div class="form-group">
                <label class="sr-only" for="username">Email address</label>
                <input type="text" class="form-control input-sm input-focused" id="username" name="username" placeholder="Enter email or login" ng-model="username" required>
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">Password</label>
                <input type="password" class="form-control input-sm input-focused" id="password" name="password" placeholder="Password" ng-model="password" required>
            </div>
            <button type="submit" class="btn btn-sm" ng-click="login(username, password)">Sign in</button>
            <div class="text-danger">
                {{message}}
            </div>
        </form>
    </div>
    <form class="navbar-form navbar-right" role="form" action="/api/account/register" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_tonen }}" />
        <button type="button" class="btn btn-default" ng-click="showLoginForm=true">Login to existing account</button>
        <button type="submit" class="btn btn-default">Start new game</button>
    </form>
</div>